<h4> Associate an Installed Measure </h4>

<%= form_for(@propmeasure) do |f| %>
  <% if @propmeasure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propmeasure.errors.count, "error") %> prohibited this propertymeasure from being saved:</h2>

      <ul>
      <% @propmeasure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :property_id, :value => @property.id %> 

    <h7> Measure Type: </h7><br>
    <%= f.collection_select(:installed_measure_type_id, InstalledMeasureType.all, :id, :installed_measures, prompt: true) %> <br><br>

    <h7> Comments: </h7><br>
    <%= f.text_area :comment, :size => "40x5"%> <br><br>

    <%= f.submit class: "btn btn-primary" %>

<% end %>
