<hr>
<u><h4 align= "center"> Enter New Recording </h4></u>


<%= form_for @recording, :html => {:class => "form-inline"} do |f| %>	
  <% if @recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recording.errors.count, "error") %> prohibited this recording from being saved:</h2>
      <ul>		
	      <% @recording.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>		
  	<%= f.hidden_field :owner, :value => @property.owner_name %> 
  <div align= "center">
    <h7> Account Number: </h7>	
    <%= f.collection_select(:acctnum, RecordLookup.where(property_id: @property.id).to_a, :acct_num, :company_name_with_acctnum ,prompt: true) %></br></br>
    <h7> Read Date: </h7>	 
    <%= f.date_select :read_date %></br></br>		
    <h7> Consumption: </h7>	
    <%= f.text_field :consumption %></br></br>
    <h7> Days in Month: </h7>		
    <%= f.number_field :days_in_month %></br></br>
   	<h7> Utility Type: </h7>	
    <%= f.collection_select(:utility_type_id, @utilitytypes, :id, :typeName, prompt: true) %></br></br>
    <%= f.submit "Save New Recording", class: 'btn btn-small btn-primary' %>
  </div>
<% end %>