<% title "Customer #{@property.customer_unique_id}" %>
<h1><%= "Report for Customer #{@property.customer_unique_id}" %></h1>
	<p><%="Customer Name: " + @property.owner_name %></p>
	<p><%= @property.street_address %></p>
	<p><%= "#{@property.city}, #{@property.state} #{@property.zipcode}"%></p>
	<% if (@electric_record_lookup) %>
		<p><%= "#{@electric_record_lookup.company_name} Account Number: #{@electric_record_lookup.acct_num} " %></p>
		
	<% end %>
	<% if (@gas_record_lookup) %>
		<p><%= "#{@gas_record_lookup.company_name} Account Number: #{@gas_record_lookup.acct_num} " %></p>
	<% end %>
	<% if (@property.finish_date) %>
		<p><%= "Test Out Date: " + @testoutdate.strftime("%B %e, %Y")%></p>
	<% end %>


	<% if (!@electric_recordings) %>
		<h4><%= "No power readings found for this property"%></h4>
	<% end %>
	<% if (!@gas_recordings) %>
		<h4><%= "No gas readings found for this property"%></h4>
	<% end %>

	<% if (@electric_recordings && @gas_recordings) %>

		<h3> Raw Data </h3>

		<table class="table" border = 1>
			<tr>
				<th colspan="3"> Electricity</th>
				<th colspan="3"> Gas</th>
			</tr>
			<tr>
				<th> Read Date </th>
				<th> Consumption </th>
				<th> Days in Month </th>
				<th> Read Date </th>
				<th> Consumption </th>
				<th> Days in Month </th>
			</tr>
			<% for i in 0..[@electric_recordings.count-1, @gas_recordings.count-1].max %>
				<tr>
					<%if(@electric_recordings[i])%>
						<td> <%= @electric_recordings[i].read_date %> </td>
						<td> <%= @electric_recordings[i].consumption %> </td>
						<td> <%= @electric_recordings[i].days_in_month %> </td>
					<%else%>
						<td></td>
						<td></td>
						<td></td>
					<%end%>
					<%if(@gas_recordings[i])%>
						<td> <%= @gas_recordings[i].read_date %> </td>
						<td> <%= @gas_recordings[i].consumption %> </td>
						<td> <%= @gas_recordings[i].days_in_month %> </td>
					<%else%>
						<td></td>
						<td></td>
						<td></td>
					<%end%>
				</tr>
			<% end %>
		</table>
	<% end %>

	<% if (@electric_recordings && !@gas_recordings) %>

		<h3> Raw Data </h3>

		<table class="table" border = 1>
			<tr>
				<th colspan="3"> Electricity</th>
			</tr>
			<tr>
				<th> Read Date </th>
				<th> Consumption </th>
				<th> Days in Month </th>
			</tr>
			<% for i in 0..@electric_recordings.count-1 %>
				<tr>
					<td> <%= @electric_recordings[i].read_date %> </td>
					<td> <%= @electric_recordings[i].consumption %> </td>
					<td> <%= @electric_recordings[i].days_in_month %> </td>
				</tr>
			<% end %>
		</table>
	<% end %>

		<% if ( !@electric_recordings && @gas_recordings) %>

		<h3> Raw Data </h3>

		<table class="table" border = 1>
			<tr>
				<th colspan="3"> Gas</th>
			</tr>
			<tr>
				<th> Read Date </th>
				<th> Consumption </th>
				<th> Days in Month </th>
			</tr>
			<% for i in 0..@gas_recordings.count-1 %>
				<tr>
					<td> <%= @gas_recordings[i].read_date %> </td>
					<td> <%= @gas_recordings[i].consumption %> </td>
					<td> <%= @gas_recordings[i].days_in_month %> </td>
				</tr>
			<% end %>
		</table>
	<% end %>

	<% if (@electric_recordings) %>
		<h3> Gaps Report - Electricity </h3>

		<table class="table" border = 1>
		  <tr>
		    <th colspan="12" > 12 Months Pre-Testout</th>
		  </tr>
		  <tr >
		    <% for i in 0..((@months.count-1)/2) %>
		    <td><%= @months[i].strftime("%m") + "/" + @months[i].strftime("%y")%></td>
		    <%end%>
		  </tr>
		  <tr>
		  		
		  		<% for i in 0..11 %>
		  			<% if(@electric_gap_data[i] != 0 && @electric_gap_data[i] != "---") %>
		  				<td bgcolor="11F215"> <%= @electric_gap_data[i] %> </td>
			  		<% elsif (@electric_gap_data[i] == 0) %>
						<td bgcolor="FFD700"> <%= @electric_gap_data[i] %> </td>
		  			<%else %>
		  				<td bgcolor="F24E4E"> <%= @electric_gap_data[i] %> </td>	
	               	<% end %>
	            <% end %>
			    
		  </tr>
		  <tr >
		    <th colspan="12" > 12 Months Post-Testout</th>
		  </tr>
		  <tr>
		    <% for i in ((@months.count)/2)..(@months.count-1) %>
		    <td><%= @months[i].strftime("%m") + "/" + @months[i].strftime("%y")%></td>
		    <%end%>
		  </tr>
		  <tr>
		  		<% for i in 12..23 %>
		  			<% if(@electric_gap_data[i] != 0 && @electric_gap_data[i] != "---") %>
		  				<td bgcolor="11F215"> <%= @electric_gap_data[i] %> </td>
			  		<% elsif (@electric_gap_data[i] == 0) %>
						<td bgcolor="FFD700"> <%= @electric_gap_data[i] %> </td>
		  			<%else %>
		  				<td bgcolor="F24E4E"> <%= @electric_gap_data[i] %> </td>	
	               	<% end %>
	            <% end %>
			    
		  </tr>
		</table>
	<% end %>

	<% if (@gas_recordings) %>
		
		<h3> Gaps Report - Gas </h3>

		<table class="table" border = 1>
		  <tr>
		    <th colspan="12" > 12 Months Pre-Testout</th>
		  </tr>
		  <tr >
		    <% for i in 0..((@months.count-1)/2) %>
		    <td><%= @months[i].strftime("%m") + "/" + @months[i].strftime("%y")%></td>
		    <%end%>
		  </tr>
		  <tr>
		  		
		  		<% for i in 0..11 %>
		  			<% if(@gas_gap_data[i] != 0 && @gas_gap_data[i] != "---" ) %>
		  				<td bgcolor="11F215"> <%= @gas_gap_data[i] %> </td>
			  		<% elsif (@gas_gap_data[i] == 0) %>
						<td bgcolor="FFD700"> <%= @gas_gap_data[i] %> </td>
		  			<%else%>
		  				<td bgcolor="F24E4E"> <%= @gas_gap_data[i] %> </td>	
	               	<% end %>
	            <% end %>
			    
		  </tr>
		  <tr >
		    <th colspan="12" > 12 Months Post-Testout</th>
		  </tr>
		  <tr>
		    <% for i in ((@months.count)/2)..(@months.count-1) %>
		    <td><%= @months[i].strftime("%m") + "/" + @months[i].strftime("%y")%></td>
		    <%end%>
		  </tr>
		  <tr>
		  		<% for i in 12..23 %>
		  			<% if(@gas_gap_data[i] != 0 && @gas_gap_data[i] != "---") %>
		  				<td bgcolor="11F215"> <%= @gas_gap_data[i] %> </td>
			  		<% elsif (@gas_gap_data[i] == 0) %>
						<td bgcolor="FFD700"> <%= @gas_gap_data[i] %> </td>
		  			<% else %>
		  				<td bgcolor="F24E4E"> <%= @gas_gap_data[i] %> </td>	
	               	<% end %>
	            <% end %>
			    
		  </tr>
		</table>
	<% end %>


<%= link_to 'Back', root_path %>