<div class="container theme-showcase">
	<div class="container marketing" > 
		<h1>LEAP Data Management and Visualization System</h1>
	</div>
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-6">
					<%= image_tag "logo.png", class: "img-responsive" %>
				</div>
				<div class="col-lg-6">
					<h2>Search Properties:</h2>
					<%= form_tag dashboard_property_report_path, class: "form-inline", :method => "get" do %>
					<%= label_tag(:owner,"") %>
					<%= text_field_tag :owner, params[:owner], class: 'typeahead', placeholder: "Search Properties" %>
					<%= submit_tag("Search", class: 'btn btn-primary') %>
					<% end %>
				</div>
			</div>
		</div>

    
<%= javascript_tag "var variables = #{ @variables.to_json };" %>    

<script>

$('.typeahead').typeahead({
    name: 'properties',
    local: variables
 });
</script>

	<div class="container marketing" > 
		Generate list of customers with missing account information 
		<%= button_to "Generate HTML View", dashboard_null_account_export_report_path, :method => "get", type: 'button', class: 'btn btn-primary' %>

		</br>

		<%= button_to "Generate and Export to CSV", dashboard_null_account_export_report_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary' %>

		</br>



		<h2>Dominion Virginia Power</h2>
		Generate list of customers with "Ready to Analyze" meter readings
		<%= button_to "Generate HTML View", dashboard_analysis_ready_dominion_report_path, :method => "get", type: 'button', class: 'btn btn-primary' %>
		</br>
		<%= button_to "Generate and Export to CSV", dashboard_analysis_ready_dominion_report_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary' %>
		</br>
		Generate Utility Request
		<%= button_to "Generate HTML View", dashboard_utility_request_dominion_report_path, :method => "get", type: 'button', class: 'btn btn-primary' %>
		</br>
		<%= button_to "Generate and Export to CSV", dashboard_utility_request_dominion_report_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary' %>
		</br>

		<h2>Charlottesville Gas</h2>
		Generate list of customers with "Ready to Analyze" meter readings
		<%= button_to "Generate HTML View", dashboard_analysis_ready_cvillegas_report_path, :method => "get", type: 'button', class: 'btn btn-primary' %>
		</br>
		<%= button_to "Generate and Export to CSV", dashboard_analysis_ready_cvillegas_report_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary' %>
		</br>
		Generate Utility Request
		<%= button_to "Generate HTML View", dashboard_utility_request_cvillegas_report_path, :method => "get", type: 'button', class: 'btn btn-primary' %>
		</br>
		<%= button_to "Generate and Export to CSV", dashboard_utility_request_cvillegas_report_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary' %>
		</br>



		<div id="ajax">
		<% render :partial => "report" %>
		</div>

	</div>
</div>
	