<h1>Dashboard</h1>

<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'View All Properties', properties_path %>

<p>Search for Customer:</p>
<%= form_tag dashboard_index_path, :method => :get, :remote => true do %>
  <%= label_tag(:owner, "Search for:") %>
  <%= text_field_tag(:owner) %>
  <%= submit_tag("View Gaps") %>
<% end %>

<p>Upload Data (Currently only an upload, no processing)</p>
<%= form_tag({:action => :upload}, :multipart => true) do %>
  <%= file_field_tag 'file' %>
<%= submit_tag "Upload" %>
<% end %>

<div id="ajax">
<% render :partial => "report" %>
</div>

<%= link_to 'Back', root_path %>
