<h1>Missing Account Info</h1>

<table border="1">
  <tr>
    <th>Owner Name</th>
    <th>Customer Unique ID</th>
    <th>Company Name</th>
    <th>Account Number</th>
  </tr>

<% @records_array.each do |record| %>
  <tr>
    <td><%= record[0] %></td>
    <td><%= record[2] %></td>
    <td><%= record[3] %></td>
    <td><%= record[4] %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', root_path %>
