<h1>Missing Account Info</h1>

<table class="table table-striped" border="1">
  <tr>
    <th>Owner Name</th>
    <th>Customer Unique ID</th>
    <th>Company Name</th>
    <th>Account Number</th>
  </tr>

<% @records_array.each do |record| %>
  <tr>
    <td><%= link_to record[0], 'property_report?owner=' + record[0] %></td>
    <td><%= record[1] %></td>
    <td><%= record[2] %></td>
    <td><%= record[3] %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', dashboard_index_path %>
