<div class = "container">
<h1>All Recordings</h1>

<table class="table table-striped">
  <tr>
    <th><%= sortable "acctnum" %></th>
    <th><%= sortable "consumption" %></th>
    <th><%= sortable "days_in_month" %></th>
    <th><%= sortable "read_date" %></th>
    <th><%= sortable "utility_type" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recordings.each do |recording| %>
  <tr>
    <td><%= recording.acctnum %></td>
    <td><%= recording.consumption %></td>
    <td><%= recording.days_in_month %></td>
    <td><%= recording.read_date %></td>
    <td><%= recording.utility_type_id %></td>
    <td><%= link_to 'Show', recording %></td>
    <td><%= link_to 'Edit', edit_recording_path(recording) %></td>
    <td><%= link_to 'Destroy', recording, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<%= will_paginate @recordings %>

</table>

<br />

<%= link_to 'New Recording', new_recording_path %>
</div>