<p id="notice"><%= notice %></p>

<p>
  <b>Acctnum:</b>
  <%= @recording.acctnum %>
</p>

<p>
  <b>Consumption:</b>
  <%= @recording.consumption %>
</p>

<p>
  <b>Days in month:</b>
  <%= @recording.days_in_month %>
</p>

<p>
  <b>Read date:</b>
  <%= @recording.read_date %>
</p>

<p>
  <b>Utility type:</b>
  <%= @recording.utility_type_id %>
</p>


<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>
