<%= form_for(@gas_recording) do |f| %>
  <% if @gas_recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gas_recording.errors.count, "error") %> prohibited this gas_recording from being saved:</h2>

      <ul>
      <% @gas_recording.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :acctNum %><br />
    <%= f.text_field :acctNum %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :readDate %><br />
    <%= f.date_select :readDate %>
  </div>
  <div class="field">
    <%= f.label :consumption %><br />
    <%= f.text_field :consumption %>
  </div>
  <div class="field">
      <%= f.label :property_id %><br />
      <%= f.select(:property_id, Property.find(:all).collect {|c| [ c.street_address, c.id ]}, :include_blank => true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
