<p id="notice"><%= notice %></p>

<p>
  <b>Acctnum:</b>
  <%= @gas_recording.acctNum %>
</p>

<p>
  <b>Name:</b>
  <%= @gas_recording.name %>
</p>

<p>
  <b>Address:</b>
  <%= @gas_recording.address %>
</p>

<p>
  <b>Readdate:</b>
  <%= @gas_recording.readDate %>
</p>

<p>
  <b>Consumption:</b>
  <%= @gas_recording.consumption %>
</p>

<p>
  <b>Property:</b>
  <%= @gas_recording.property %>
</p>


<%= link_to 'Edit', edit_gas_recording_path(@gas_recording) %> |
<%= link_to 'Back', gas_recordings_path %>
