<table class="table table-striped" border="1">
  <%= ajax_links :section_id => "links3" do %>
    <%= will_paginate @n_accounts, renderer: BootstrapPagination::Rails %>
    </ul>
  <% end %>

  <tr>
    <th>Owner Name</th>
    <th>Customer Unique ID</th>
    <th>Company Name</th>
    <th>Account Number</th>
  </tr>
  <%= ajax_loadzone do %>
  <% @n_accounts.each do |account| %>
    <tr>
      <td><%= link_to account.owner_name, 'dashboard/property_report?customer_unique_id=' + account.customer_unique_id %></td>
      <td><%= account.customer_unique_id %></td>
      <td><%= account.company_name %></td>
      <td><%= account.acct_num %></td>
    </tr>
  <% end %>
  <% end %>
</table>



