<div class="container marketing">
	<h1>Analysis</h1>
	<ul class="nav nav-tabs">
	 	<li class="active"><a href="#Dominion" data-toggle="tab">Dominion Virginia Power</a></li>
	  	<li><a href="#CvilleGas" data-toggle="tab">Charlottesville Gas</a></li>
	  	<li><a href="#NullAccts" data-toggle="tab">Null Accounts</a></li>
	</ul>
	<script>
	$('#myTab a[href="#CvilleGas"]').click(function (e) {
	  	e.preventDefault()
	  	$(this).tab('show')
	})
	$('#myTab a[href="#NullAccts"]').click(function (e) {
	  	e.preventDefault()
	  	$(this).tab('show')
	})
	</script>
	<div class="tab-content">
		<div class="tab-pane active" id="Dominion">
			<div class="row">
				<div class="col-lg-8">
					<h3>Ready to Analyze Dominion Virginia Power Customers</h3>
				</div>
				<div class="col-lg-3">
					</br>
						<%= button_to "Export to CSV", dashboard_analysis_ready_dominion_report_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary pull-right' %>
				</div>
			</div>
			<p>This should be changed to showing the actual HTML table view of ready to analyze dominion/virginia power customers here (not having to click on the button) </p>
			<%= button_to "Generate HTML View", dashboard_analysis_ready_dominion_report_path, :method => "get", type: 'button', class: 'btn btn-primary' %>
		</div>
		<div class="tab-pane" id="CvilleGas" href="#CvilleGas">
			<div class="row">
				<div class="col-lg-8">
					<h3>Ready to Analyze Charlottesville Gas Customers</h3>
				</div>
				<div class="col-lg-3">
					</br>
					<%= button_to "Export to CSV", dashboard_analysis_ready_cvillegas_report_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary pull-right' %>
				</div>
			</div>
			<p>This should be changed to showing the actual HTML table view of ready to analyze charlottesville gas customers here (not having to click on the button) </p>
			<%= button_to "Generate HTML View", dashboard_analysis_ready_cvillegas_report_path, :method => "get", type: 'button', class: 'btn btn-primary' %>			
			</br>
		</div>
		<div class="tab-pane" id="NullAccts" href="#NullAccts">
			<div class="row">
				<div class="col-lg-8">
					<h3>Null Accounts</h3>
				</div>
				<div class="col-lg-3">
					</br>
					<%= button_to "Export to CSV", dashboard_analysis_ready_cvillegas_report_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary pull-right' %>
				</div>
			</div>
			<div id="null_accts"></div>
			<%# ajax_section :id => "null_accounts", :render => "null_accounts" %>
			<%= button_to "Generate HTML View", analysis_null_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary' %>			
			</br>
		</div>
	</div>
</div>
