<style type="text/css">
	a:hover {color: #888;}
</style>
<div class="container marketing">
	<h1>Analysis</h1>
	<ul class="nav nav-tabs">
	 	<li class="active"><a href="#Dominion" data-toggle="tab">Dominion Virginia Power</a></li>
	  	<li><a href="#CvilleGas" data-toggle="tab">Charlottesville Gas</a></li>
	  	<li><a href="#WashingtonGas" data-toggle="tab">Washington Gas</a></li>
	  	<li><a href="#NullAccts" data-toggle="tab">Null Accounts</a></li>
	</ul>
	<script>
	$('#myTab a[href="#CvilleGas"]').click(function (e) {
	  	e.preventDefault()
	  	$(this).tab('show')
	})
	$('#myTab a[href="#WashingtonGas"]').click(function (e) {
	  	e.preventDefault()
	  	$(this).tab('show')
	})
	$('#myTab a[href="#NullAccts"]').click(function (e) {
	  	e.preventDefault()
	  	$(this).tab('show')
	})
	</script>
	<div class="tab-content">
		<div class="tab-pane active" id="Dominion">
			<div class="row">
				<div class="col-lg-6">
					<h4>Ready to Analyze Dominion Virginia Power Customers</h4>
				</div>
				<div class="col-lg-2">
					<%= button_to "Generate HTML View", analysis_dominion_ready_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
				<div class="col-lg-2">
					<%= button_to "Export to CSV", analysis_dominion_ready_accounts_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
				<div class="col-lg-2">
					<%= button_to "Export to PRISM Format", analysis_dominion_ready_accounts_prism_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
			</div>
			<div id="dominion_rdy"></div>
			</br>
		</div>

		<div class="tab-pane" id="CvilleGas" href="#CvilleGas">
			<div class="row">
				<div class="col-lg-6">
					<h4>Ready to Analyze Charlottesville Gas Customers</h4>
				</div>
				<div class="col-lg-2">
					<%= button_to "Generate HTML View", analysis_cvillegas_ready_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
				<div class="col-lg-2">
					<%= button_to "Export to CSV", analysis_cvillegas_ready_accounts_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
				<div class="col-lg-2">
					<%= button_to "Export to PRISM Format", analysis_cvillegas_ready_accounts_prism_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
			</div>
			<div id="cvillegas_rdy"></div>
			</br>	
		</div>

		<div class="tab-pane" id="WashingtonGas" href="#WashingtonGas">
			<div class="row">
				<div class="col-lg-6">
					<h4>Ready to Analyze Washington Gas Customers</h4>
				</div>

				<div class="col-lg-2">
					<%= button_to "Generate HTML View", analysis_washingtongas_ready_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
				<div class="col-lg-2">
					<%= button_to "Export to CSV", analysis_washingtongas_ready_accounts_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
				<div class="col-lg-2">
					<%= button_to "Export to PRISM Format", analysis_washingtongas_ready_accounts_prism_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
			</div>
			<div id="washingtongas_rdy"></div>
			</br>
		</div>
		<div class="tab-pane" id="NullAccts" href="#NullAccts">
			<div class="row">
				<div class="col-lg-6">
					<h4>Null Accounts</h4>
				</div>
				<div class="col-lg-3">
					<%= button_to "Generate HTML View", analysis_null_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
				<div class="col-lg-3">
					<%= button_to "Export to CSV", analysis_null_accounts_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary center-block', style: 'margin-top:5px; margin-bottom:10px;' %>
				</div>
			</div>
			<div id="null_accts"></div>
			<%# ajax_section :id => "null_accounts", :render => "null_accounts" %>
			</br>
		</div>
	</div>
</div>
