<div class="container marketing">
	<h1>Analysis</h1>
	<ul class="nav nav-tabs">
	 	<li class="active"><a href="#Dominion" data-toggle="tab">Dominion Virginia Power</a></li>
	  	<li><a href="#CvilleGas" data-toggle="tab">Charlottesville Gas</a></li>
	  	<li><a href="#WashingtonGas" data-toggle="tab">Washington Gas</a></li>
	  	<li><a href="#NullAccts" data-toggle="tab">Null Accounts</a></li>
	</ul>
	<script>
	$('#myTab a[href="#CvilleGas"]').click(function (e) {
	  	e.preventDefault()
	  	$(this).tab('show')
	})
	$('#myTab a[href="#WashingtonGas"]').click(function (e) {
	  	e.preventDefault()
	  	$(this).tab('show')
	})
	$('#myTab a[href="#NullAccts"]').click(function (e) {
	  	e.preventDefault()
	  	$(this).tab('show')
	})
	</script>
	<div class="tab-content">
		<div class="tab-pane active" id="Dominion">
			<div class="row">
				<div class="col-lg-7">
					<h3>Ready to Analyze Dominion Virginia Power Customers</h3>
				</div>
				<div class="col-lg-4">
					</br>
						<%= button_to "Generate HTML View", analysis_dominion_ready_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary pull-left' %>
						<%= button_to "Export to CSV", analysis_dominion_ready_accounts_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary pull-right' %>
				</div>
			</div>
			<div id="dominion_rdy"></div>
			
		</div>
		<div class="tab-pane" id="CvilleGas" href="#CvilleGas">
			<div class="row">
				<div class="col-lg-7">
					<h3>Ready to Analyze Charlottesville Gas Customers</h3>
				</div>
				<div class="col-lg-4">
					</br>
					<%= button_to "Generate HTML View", analysis_cvillegas_ready_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary pull-left' %>
					<%= button_to "Export to CSV", analysis_cvillegas_ready_accounts_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary pull-right' %>
				</div>
			</div>
			<div id="cvillegas_rdy"></div>
						
			</br>
		</div>
		<div class="tab-pane" id="WashingtonGas" href="#WashingtonGas">
			<div class="row">
				<div class="col-lg-7">
					<h3>Ready to Analyze Washington Gas Customers</h3>
				</div>
				<div class="col-lg-4">
					</br>
					<%= button_to "Generate HTML View", analysis_washingtongas_ready_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary pull-left' %>
					<%= button_to "Export to CSV", analysis_washingtongas_ready_accounts_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary pull-right' %>
				</div>
			</div>
			<div id="washingtongas_rdy"></div>
						
			</br>
		</div>
		<div class="tab-pane" id="NullAccts" href="#NullAccts">
			<div class="row">
				<div class="col-lg-7">
					<h3>Null Accounts</h3>
				</div>
				<div class="col-lg-4">
					</br>
					<%= button_to "Generate HTML View", analysis_null_accounts_path, :remote => true, :method => "get", type: 'button', class: 'btn btn-primary pull-left' %>
					<%= button_to "Export to CSV", analysis_null_accounts_path(:format => "csv"), :method => "get", type: 'button', class: 'btn btn-primary pull-right' %>
				</div>
			</div>
			<div id="null_accts"><%# ajax_section :id => "null_accounts", :render => "null_accounts" %></div>
			<%# ajax_section :id => "null_accounts", :render => "null_accounts" %>

			
			</br>
		</div>
	</div>
</div>
