<p id="notice"><%= notice %></p>

<p>
  <b>Acctnum:</b>
  <%= @power_recording.acctNum %>
</p>

<p>
  <b>Readdate:</b>
  <%= @power_recording.readDate %>
</p>

<p>
  <b>Dayselapsed:</b>
  <%= @power_recording.daysElapsed %>
</p>

<p>
  <b>Totalkwh:</b>
  <%= @power_recording.totalKwh %>
</p>

<p>
  <b>Property:</b>
  <%= @power_recording.property %>
</p>


<%= link_to 'Edit', edit_power_recording_path(@power_recording) %> |
<%= link_to 'Back', power_recordings_path %>
