<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_unique_id %><br />
    <%= f.text_field :customer_unique_id %>
  </div>
  <div class="field">
    <%= f.label :owner_name %><br />
    <%= f.text_field :owner_name %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  </div>
  <div class="field">
    <%= f.label :finish_date %><br />
    <%= f.date_select :finish_date %>
  </div>
  <p>Account Information:</p>
  <%= f.fields_for :record_lookups, @property.record_lookups do |record_lookups_form| %>
  <div class="field">
    <%#= unless record_lookups_form.object.new_record? %>
      <% # Don't forget to name both of these '_destroy' in Rails 3 %>
      <%#= record_lookups_form.check_box '_delete' %>
      <%#= record_lookups_form.label '_delete', 'Remove' %>
    <%# end %>
    
    <%= record_lookups_form.label :company_name %>
    <%= record_lookups_form.text_field :company_name %><br />
    <%= record_lookups_form.label :acct_num %>
    <%= record_lookups_form.text_field :acct_num %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
