<h1>LEAP Properties</h1>

<table class="table table-striped">
  <tr>
    <th><%= sortable "customer_unique_id" %></th>
    <th><%= sortable "owner_name" %></th>
    <th><%= sortable "street_address" %></th>
    <th><%= sortable "state"%></th>
    <th><%= sortable "zipcode"%></th>
    <th><%= sortable "finish_date"%></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.customer_unique_id %></td>
    <td><%= link_to property.owner_name, url_for(:controller => "dashboard", :action => "property_report", :owner => property.owner_name) %></td>
    <td><%= property.street_address %></td>
    <td><%= property.state %></td>
    <td><%= property.zipcode %></td>
    <td><%= property.finish_date %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<%= will_paginate @properties %>

</table>
<%= will_paginate @properties %>

<br />

<%= link_to 'New Property', new_property_path %>
<%= link_to 'Back', root_path %>
