<h1>Welcome to LEAP Data Management and Visualization</h1>

<%= link_to "Properties CRUD Prototype", properties_path %></br>
<%= link_to "Recordings CRUD Prototype", recordings_path %></br>
<%= link_to "Dashboard (Upload/Query)", dashboard_index_path %></br>
<%= link_to "Gaps Report (will be moved into Dashboard soon)", gaps_path %></br>
<%= link_to "Graphs", graphs_path %></br>
