<h1>Data Currently Staged For Upload</h1>

<table class="table table-striped">
  <tr>
    <th>Acctnum</th>
    <th>Read date</th>
    <th>Consumption</th>
    <th>Days in month</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stagings.each do |staging| %>
  <tr>
    <td><%= staging.acctnum %></td>
    <td><%= staging.read_date %></td>
    <td><%= staging.consumption %></td>
    <td><%= staging.days_in_month %></td>
    <td><%= link_to 'Show', staging %></td>
    <td><%= link_to 'Edit', edit_staging_path(staging) %></td>
    <td><%= link_to 'Destroy', staging, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<%= will_paginate @stagings %>
</table>

<br />


<%= form_tag({:action => :insert}, :multipart => false) do %>
		
		<%= submit_tag( "Insert All Into Database", class: 'btn btn-primary') %>
		<br>
		<% end %>
