<p id="notice"><%= notice %></p>

<p>
  <b>Property:</b>
  <%= @property_measure.property %>
</p>

<p>
  <b>Measure:</b>
  <%= @property_measure.measure %>
</p>

<p>
  <b>Comment:</b>
  <%= @property_measure.comment %>
</p>


<%= link_to 'Edit', edit_property_measure_path(@property_measure), class: 'btn btn-default' %>
