<div class="container">

<%= form_tag filtering_path, class: "form-horizontal", :method => "get" do %>
    <div class="row">
        <div class="col-md-2 text-left">
            <h1>Filter by...</h1>
        </div>
    </div>
    <div class="row">
    	<div class="form_group">
        	<%= label_tag(:zip,"Zip Code: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
        		<%= text_field_tag(:zip, placeholder=params[:zip] ||= "", class: "form-control") %>
        	</div>
        </div>
        <div class="form_group">
            <%= label_tag(:startdate,"Start Date: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
                <input type="text" class="form-control" id="startdate" name="startdate" placeholder ="MM/DD/YY" value="<%= params[:startdate] %>" >
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                 </span>
            </div>
        </div>
        <div class="form_group">
            <%= label_tag(:enddate,"End Date: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
                <input type="text" class="form-control" id="enddate" name="enddate" placeholder ="MM/DD/YY" value="<%= params[:enddate] %>" data-behaviour='datepicker'>
            </div>
        </div>
    </div>
    <br>
    <% count = 0 %>
    <% @measures.each do |measure| %>
        <% if count%3 == 0 %>
            <div class="row">
                <div class="col-md-1 text-right">
                    <input type="checkbox" class="form-control-small" name = "<%= "attr" + measure.id.to_s %>" 
                        <% if params[eval(":attr" + measure.id.to_s)]%>
                            checked = true>
                        <% else %>
                        >
                        <% end %>
                </div>
                <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
        <% elsif count%3 == 2 %>
            <div class="col-md-1 text-right">
                <input type="checkbox" class="form-control-small" name = "<%= "attr" + measure.id.to_s %>" 
                    <% if params[eval(":attr" + measure.id.to_s)]%>
                        checked = true>
                    <% else %>
                    >
                    <% end %>
            </div>
            <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
            </div>
        <% else %> 
            <div class="col-md-1 text-right">
                <input type="checkbox" class="form-control-small" name = "<%= "attr" + measure.id.to_s %>" 
                    <% if params[eval(":attr" + measure.id.to_s)]%>
                        checked = true>
                    <% else %>
                    >
                    <% end %>
            </div>
            <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
        <% end %>
        <% count = count + 1 %>
    <%end%>
    <% if count%3 != 0 %>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-3 text-center"><%= submit_tag("Filter", class: 'btn btn-primary') %></div>
        <div class="col-md-3 text-center"><a href="<%= filtering_path%>" class="btn btn-primary" style="color:white">Reset</a><br></div>
        <div class="col-md-3 text-center"><%= link_to "Electric Report - CSV",params.merge({:controller=>"filtering",:action=>"prism_report_electric"}), :format => "csv", :class=> "btn btn-primary", :style=>"color:white" %></div>
    <div class="col-md-3 text-center"><%= link_to "Gas Report - CSV", params.merge({:controller=>"filtering",:action=>"prism_report_gas"}), :class=> "btn btn-primary", :style=>"color:white" %></div>
    </div>
<% end %>
<br>
<table class="table table-striped">
  <tr>
    <th>Customer Unique ID</th>
    <th>Owner Name</th>
    <th>Street Address</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Finish Date</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property[1] %></td>
    <td><%= link_to property[2], url_for(:controller => "dashboard", :action => "property_report", :customer_unique_id => property[1]) %></td>
    <td><%= property[4] %></td>
    <td><%= property[6] %></td>
    <td><%= property[7] %></td>
    <td><%= property[8] %></td>

  </tr>
<% end %>

</table>

<script type="text/javascript">
  $(function() {
    $('#startdate').datetimepicker({
      pickTime: false
    });
  });
</script>
</div>
