<div class="container">

<%= form_tag filtering_path, class: "form-horizontal", :method => "get" do %>
    <div class="row">
        <div class="col-md-2 text-left">
            <h1>Filter by...</h1>
        </div>
    </div>
    <div class="row">
    	<div class="form_group">
        	<%= label_tag(:zip,"Zip Code: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
        		<%= text_field_tag(:zip, placeholder=params[:zip] ||= "", class: "form-control") %>
        	</div>
        </div>
        <div class="form_group">
            <%= label_tag(:startdate,"Start Date: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
                <input type="text" class="form-control" id="startdate" name="startdate" placeholder ="MM/DD/YY" value="<%= params[:startdate] %>" >
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                 </span>
            </div>
        </div>
        <div class="form_group">
            <%= label_tag(:enddate,"End Date: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
                <input type="text" class="form-control" id="enddate" name="enddate" placeholder ="MM/DD/YY" value="<%= params[:enddate] %>" data-behaviour='datepicker'>
            </div>
        </div>
    </div>
    <br>
    <% count = 0 %>
    <% @measures.each do |measure| %>
        <% if count%3 == 0 %>
            <div class="row">
                <div class="col-md-1 text-right">
                    <%= check_box_tag(measure.installed_measures, value='1', checked=params[measure.installed_measures] ||= false, class: "form-control-small",:disabled => false) %>
                </div>
                <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
        <% elsif count%3 == 2 %>
            <div class="col-md-1 text-right">
                <%= check_box_tag(measure.installed_measures, value='1', checked=params[measure.installed_measures] ||= false, class: "form-control-small",:disabled => false) %>
            </div>
            <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
            </div>
        <% else %> 
            <div class="col-md-1 text-right">
                <%= check_box_tag(measure.installed_measures, value='1', checked=params[measure.installed_measures] ||= false, class: "form-control-small",:disabled => false) %>
            </div>
            <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
        <% end %>
        <% count = count + 1 %>
    <%end%>
    
    <div class="row">
        <div class="col-md-3 text-center"><%= submit_tag("Filter", class: 'btn btn-primary') %></div>
        <div class="col-md-3 text-center"><a href="<%= filtering_path%>" class="btn btn-primary" style="color:white">Reset</a><br></div>
        <div class="col-md-3 text-center"><%= link_to "Electric Report - CSV",filtering_prism_report_electric_path(:zip => params[:zip], :startdate=> params[:startdate], :enddate=>params[:enddate]), :format => "csv", :class=> "btn btn-primary", :style=>"color:white" %></div>
    <div class="col-md-3 text-center"><%= link_to "Gas Report - CSV", filtering_prism_report_gas_path(:zip => params[:zip], :startdate=> params[:startdate], :enddate=>params[:enddate]), :class=> "btn btn-primary", :style=>"color:white" %></div>
    </div>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Customer Unique ID</th>
    <th>Owner Name</th>
    <th>Street Address</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Finish Date</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.customer_unique_id %></td>
    <td><%= link_to property.owner_name, url_for(:controller => "dashboard", :action => "property_report", :owner => property.owner_name) %></td>
    <td><%= property.street_address %></td>
    <td><%= property.state %></td>
    <td><%= property.zipcode %></td>
    <td><%= property.finish_date %></td>

  </tr>
<% end %>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>

</table>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>

<script type="text/javascript">
  $(function() {
    $('#startdate').datetimepicker({
      pickTime: false
    });
  });
</script>
</div>
