<div class="container">

<%= form_tag filtering_path, class: "form-horizontal", :method => "get" do %>
    <div class="row">
        <div class="col-md-2 text-left">
            <h1>Filter by...</h1>
        </div>
    </div>
    <div class="row">
    	<div class="form_group">
        	<%= label_tag(:zip,"Zip Code: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
        		<%= text_field_tag(:zip, placeholder=params[:zip] ||= "", class: "form-control") %>
        	</div>
        </div>
        <div class="form_group">
            <%= label_tag(:startdate,"Start Date: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
                <input type="text" class="form-control" id="startdate" name="startdate" placeholder ="MM/DD/YYYY" value="<%= params[:startdate] %>" >
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                 </span>
            </div>
        </div>
        <div class="form_group">
            <%= label_tag(:text,"End Date: ", class:"col-md-1 control-label")%>
            <div class="col-md-3">
                <input type="text" class="form-control" data-behaviour='datepicker' id="enddate" name="enddate" placeholder ="MM/DD/YYYY" value="<%= params[:enddate] %>" >
            </div>
        </div>
    </div>
    <br>
    <% count = 0 %>
    <!-- Prints out each measure that can be filtered on into rows of 3-->
    <% @measures.each do |measure| %>
        <% if count%3 == 0 %>
            <div class="row">
                <div class="col-md-1 text-right">
                    <input type="checkbox" class="form-control-small" name = "<%= "attr" + measure.id.to_s %>" 
                        <% if params[eval(":attr" + measure.id.to_s)]%>
                            checked = true>
                        <% else %>
                        >
                        <% end %>
                </div>
                <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
        <% elsif count%3 == 2 %>
            <div class="col-md-1 text-right">
                <input type="checkbox" class="form-control-small" name = "<%= "attr" + measure.id.to_s %>" 
                    <% if params[eval(":attr" + measure.id.to_s)]%>
                        checked = true>
                    <% else %>
                    >
                    <% end %>
            </div>
            <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
            </div>
        <% else %> 
            <div class="col-md-1 text-right">
                <input type="checkbox" class="form-control-small" name = "<%= "attr" + measure.id.to_s %>" 
                    <% if params[eval(":attr" + measure.id.to_s)]%>
                        checked = true>
                    <% else %>
                    >
                    <% end %>
            </div>
            <div class="col-md-3 text-left"><p><b><%=measure.installed_measures%></b></p></div>
        <% end %>
        <% count = count + 1 %>
    <%end%>
    <% if count%3 != 0 %>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-3 text-center"><%= submit_tag("Filter", class: 'btn btn-primary') %></div>
        <div class="col-md-3 text-center"><a href="<%= filtering_path%>" class="btn btn-primary" style="color:white">Reset</a><br></div>
        <!-- Pass along arguments to reports -->

        <div class="col-md-3 text-center"><%= link_to "Electric Report - CSV",params.merge({:controller=>"filtering",:action=>"prism_report_electric"}), :format => "csv", :class=> "btn btn-primary", :style=>"color:white" %></div>
        <div class="col-md-3 text-center"><%= link_to "Gas Report - CSV", params.merge({:controller=>"filtering",:action=>"prism_report_gas"}), :class=> "btn btn-primary", :style=>"color:white" %></div>
    </div>
<% end %>
<br>
<!-- Prints out each property associated with each filter -->

<table class="table table-striped">
  <tr>
    <th>Customer Unique ID</th>
    <th>Owner Name</th>
    <th>Street Address</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Finish Date</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.customer_unique_id %></td>
    <td><%= link_to property.owner_name, url_for(:controller => "dashboard", :action => "property_report", :customer_unique_id => property.customer_unique_id) %></td>
    <td><%= property.street_address %></td>
    <td><%= property.state %></td>
    <td><%= property.zipcode %></td>
    <td><%= property.finish_date %></td>

  </tr>
<% end %>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>

</table>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker();
  })
</script>
</div>
