<h1>Uploads</h1>

<h3>Processed Data</h3>
<%= link_to 'Information to be Uploaded', stagings_path %>

<h3>Current Uploaded Files</h3>
<table class="table table-striped">
  <tr>
    <th>File Name</th>
    <th>Status</th>
    <th>Upload Date</th>
    <th>Process Date</th>
    <th>Uploaded by</th>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.file_name %></td>
    <td><%= upload.status %></td>
    <td><%= upload.upload_date %></td>
    <td><%= upload.process_date %></td>
    <td><%= upload.uploaded_by %></td>
    <td><%#link_to 'Process', process_uploads_path(upload, method: :get), data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload', dashboard_index_path %>
<%= link_to 'Back', root_path %>
