<div class= "container">
<h1>Upload</h1>

<!--<h3>Processed Data</h3>-->
<%= button_to "Processed Data", stagings_path, :method => "get", type: 'button', class: "btn btn-primary btn-sm", data: { toggle:"tooltip", placement:"right"}, title: "Click here to see any data currently uploaded using this page. You will be able to modify it before confirming that it is correct."%>

<h3>Upload Data Format</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>AccountNum</th>
      <th>DateRead</th>
      <th>Consumption</th>
      <th>DaysUsed</th>
    </tr>
  </thead>
  <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>

</table>

<h3>Upload for Electric Data</h3>
		<%= form_tag({:action => :upload,  :controller=>"uploads"}, :multipart => true) do %>
		  <%= file_field_tag 'file' %>
		<br>
		<%= submit_tag( "Upload Electric Data", class: 'btn btn-primary btn-sm') %>
		<br>
		<% end %>
		
    <br>
<h3>Upload for Gas Data</h3>
		<%= form_tag({:action => :uploadGas,  :controller=>"uploads"}, :multipart => true) do %>
		  <%= file_field_tag 'file' %>
		<br>
		<%= submit_tag( "Upload Gas Data", class: 'btn btn-primary btn-sm') %>
		<br>
		<% end %>

		<div id="ajax">
		<!--% render :partial => "report" %-->
		</div>


<h3>Current Uploaded Files</h3>

<table class="table table-striped">
  <tr>
    <th>File Name</th>
    <th>Status</th>
    <th>Upload Date</th>
    <th>Process Date</th>
    <th>Uploaded by</th>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.file_name %></td>
    <td><%= upload.status %></td>
    <td><%= upload.upload_date %></td>
    <td><%= upload.process_date %></td>
    <td><%= upload.uploaded_by %></td>
    <td><%#link_to 'Process', process_uploads_path(upload, method: :get), data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
</div>
