<%= form_for(@propertymeasure) do |f| %>
  <% if @propertymeasure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propertymeasure.errors.count, "error") %> prohibited this propertymeasure from being saved:</h2>

      <ul>
      <% @propertymeasure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property %><br />
    <%= f.text_field :property_id %>
  </div>
  <div class="field">
    <%= f.label :installed_measure_type %><br />
    <!--%= f.text_field :installed_measure_type_id %-->
    
    <!--%= f.collection_select(:utility_type_id, @utilitytypes, :id, :typeName, prompt: true) %> <br><br-->
    <!--%= f.collection_select(:installed_measure_type, InstalledMeasureType.all, :id, :installed_measures, prompt: true) %> <br><br-->
    <%= f.collection_select(:installed_measure_type_id, InstalledMeasureType.all, :id, :installed_measures, prompt: true) %> <br><br>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
