<h1>Installed Measures Associated with Properties</h1>

<%= link_to 'New Association', new_propertymeasure_path, class: 'btn btn-default' %>
<br><br>
<table class="table table-striped">
  <tr>
    <th>Property</th>
    <th>Installed measure type</th>
    <th>Comment</th>
    <th></th>
    <th></th>
  </tr>

<% @propertymeasures.each do |propertymeasure| %>
  <tr>
    <td><%= propertymeasure.property_id %></td>
    <td><%= InstalledMeasureType.find(propertymeasure.installed_measure_type_id).installed_measures %></td>
    <td><%= propertymeasure.comment %></td>
    <td><%= link_to 'Edit', edit_propertymeasure_path(propertymeasure) %></td>
    <td><%= link_to 'Destroy', propertymeasure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


