<p id="notice"><%= notice %></p>

<p>
  <b>Property:</b>
  <%= @propertymeasure.property_id %>
</p>

<p>
  <b>Installed measure type:</b>
  <%= @propertymeasure.installed_measure_type_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @propertymeasure.comment %>
</p>


<%= link_to 'Edit', edit_propertymeasure_path(@propertymeasure) %> |
<%= link_to 'Back', propertymeasures_path %>
