<%= stylesheet_link_tag "dashboard_format" %>

<%# navigation styled for Bootstrap 3.0 %>
<% if user_signed_in? %>
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class = "collapse navbar-collapse" id= "navbar-collapse-1">
			<ul class = "nav navbar-nav">
				<li><%= link_to 'LEAP', root_path, class: 'navbar-brand' %></li>
				<li class="dropdown">
          			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Properties <b class="caret"></b></a>
      				<ul class="dropdown-menu">
            			<li><%= link_to 'All Properties', properties_path %></li>
						<li><%= link_to 'Add Property', new_property_path %></li>
            			<li class="divider"></li>
						<li><%= link_to 'Filter', filtering_path %></li>
						<li><%= link_to 'Installed Measures', installed_measure_types_path %></li>
          			</ul>
        		</li>
				
				<li><%= link_to 'Recordings', recordings_path %></li>
				<li><%= link_to 'Analyze', analysis_path %></li>
				<li><%= link_to 'Requests', requests_path %></li>
				<li><%= link_to 'Upload', uploads_path %></li>
				

				<li class="dropdown">
          			<a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
      				<ul class="dropdown-menu">
						<li><%= link_to 'Manage Users', newusers_path %></li>
						<li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
					</ul>
        		</li>
			</ul>
			<%= form_tag dashboard_property_report_path, :class => "navbar-form navbar-left", :method => "get" do  %>
				<%= label_tag(:owner,"", class: "lead") %>
				<%= text_field_tag :owner, params[:owner], :id => 'type', :class => "typeahead form-control", size: 50, placeholder: "Search Properties" %>
				<button type="submit" class="btn btn-small" >Search</button> 
			<%end %>
			
		</div>  
	</div>
</nav>

<script> 
var variables = new Bloodhound({
	datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
	queryTokenizer: Bloodhound.tokenizers.whitespace,
	limit: 8,
//	local: $.map(variables, function(variable) { return { value: variable }; })
 prefetch: {
	// url points to a json file that contains an array of country names, see
	// https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
	url: 'properties.json',
	// the json file contains an array of strings, but the Bloodhound
	// suggestion engine expects JavaScript objects so this converts all of
	// those strings
	filter: function(list) {
		return $.map(list, function(variable) { return { value: variable }; });
		}
	}
});

variables.initialize();

$('#type .typeahead').typeahead({
	hint: true,
	highlight: true,
	minLength: 1
	},
	{
	name: 'variables',
	displayKey: 'value',
	source: variables.ttAdapter()
});
</script>  
<% end %>
